.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.input {
  display: none;
}

.button {
  width: 100%;
  height: 100%;
  background-color: #e8e7e6;
  font-weight: bold;
  cursor: pointer;
  border: none;
  font-size: 0.8rem;
}

.button:hover {
  opacity: 0.8;
}

.button.grey {
  background-color: lightgray;
}

.button.pink {
  background-color: rgb(255, 219, 224);
}

.isLoading {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  border: 3px solid lightgray;
  border-top: 3px solid rgb(255, 219, 224);
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
