@value makerWhite, makerIndigo from '../../common/colors.css';

.footer {
  width: 100%;
  background-color: makerIndigo;
  text-align: center;
  border-radius: 0 0 1em 1em;
}

.title {
  color: makerWhite;
}
